<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room</title>
  </head>
  <body>
    <h1>In room.html</h1>
    <div id="no_room"></div>
    <div id="username"></div>

    <div id="network">
      <button onclick="scanLocalNetwork()">Scan for local peers</button>
    </div>
  </body>

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="../js/room.js"></script>
</html>
